

<h1>I'M SCARY TERRY</h1>


<p class="bg-success white-text">GOLDENFOLD'S DREAMS</p>

<p class="red-text bold">SENIOR</p>

<p class ="blue-text underlined bold">YOU CAN RUN BUT YOU CAN'T HIDE! ******</p>
<img src="https://res.cloudinary.com/teepublic/image/private/s--lAsR-FmK--/t_Preview/b_rgb:c62b29,c_limit,f_jpg,h_630,q_90,w_630/v1446245155/production/designs/300139_1.jpg" class="img-responsive" alt="Responsive image">